node_modules/**node_modules/

.next/**.next/

out/**out/

build/**build/

next-env.d.tscoverage/

coverage/**public/

public/**scripts/

scripts/***.css

**/*.css*.md

**/*.md*.json

**/*.json*.config.js

**/*.config.js*.config.ts
**/*.config.ts