# Rust
/backend/target/
**/*.rs.bk
Cargo.lock

# Next.js / Node
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/build
/frontend/.env*.local

# Testing
/frontend/coverage

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Old notebooks (archived)
*.ipynb
